body {
    margin: 0;
    padding: 0;
    background-color: #efeeef;
    font: Georgia, "Times New Roman",Times,serif;
    color: #333333;
}
.header {
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 18px;
    padding: 10px 0;
}
h1 {
        color: #eee;
        font-size: 28px; 
    }
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    max-width: 1024px; /* Adjust as needed */
    margin: 0 auto;
}
h2 {
    font: 24px;
}
.photo-container {
    flex: 0 0 auto;
    margin-right: 20px;
    float: left;
    width: 200px;
}
#main-bio {
    float: left;
    width: 70%;
    margin-top: 65px;
}
#contact-info {
    width: 30%;
    float: left;
    line-height: 1.5    
}
a {
    color: #d21034;
}